<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="restic" Language="1033" Version="$(var.ProductVersion)" Manufacturer="https://restic.net" UpgradeCode="2f0f4430-9195-463f-b136-6140b2b8ba50">
    <SummaryInformation Description="Restic is a fast, secure, efficient backup program." Comments="Restic v$(var.ProductVersion)" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="Data.cab" EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="Product" ConfigurableDirectory="INSTALLDIR" Description="Restic for Windows" Display="expand" Title="Restic" AllowAbsent="no">
      <ComponentGroupRef Id="ProductComponents" />
      <Feature Id="EnvironmentPath" Description="Adds restic to the system path." Title="Update system path" Level="2">
        <ComponentRef Id="EnvironmentPathComponent" />
      </Feature>
    </Feature>

    <UI>
      <ui:WixUI Id="WixUI_FeatureTree" />
      <!-- Remove LicenseAgreementDlg. -->
      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="CustomizeDlg"
               Order="2" />
      <Publish Dialog="CustomizeDlg"
               Control="Back"
               Event="NewDialog"
               Value="WelcomeDlg"
               Order="2" />
    </UI>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLDIR" Name="Restic" />
    </StandardDirectory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLDIR">
      <Files Include="$(var.ProductSource)" />
    </ComponentGroup>

    <Component Id="EnvironmentPathComponent" Guid="360181f7-40a9-4bdf-bd9e-8556c6d884bd" Directory="INSTALLDIR">
      <Environment Id="UpdatePath" Name="PATH" Action="set" Permanent="no" System="yes" Part="last" Value="[INSTALLDIR]" />
    </Component>
  </Package>
</Wix>